# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Visual Studio Code
.vscode/


# Data files
/data/**/*.csv
*.csv
!data/news_sample.csv
!data/topwords10000.csv
!data/liar_test.tsv
!data/liar_stemmed_data.csv
!data/nn_model_loss.csv


# Neural network model files
/models/*.pth
/models/*.npy
/models/*.model
/models/*.joblib
!models/logistic_model.joblib
!models/logistic_metadata_model.joblib

