# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Visual Studio Code
.vscode/


# Data files
/data/**/*.csv
linear_regreasion/995,000_rows_stemming_words.csv
*.csv
GoogleNews-vectors-negative300.bin.gz



# Neural network model files
/NeurelNetwork/*.pth
/NeurelNetwork/*.npy
/NeurelNetwork/*.model
